[submodule "hello_foundry/lib/forge-std"]
	path = hello_foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/analog-gmp"]
	path = lib/analog-gmp
	url = https://github.com/Analog-Labs/analog-gmp
